
.iconsTitle {
    margin-bottom: 1rem;
}


.cardServices {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}


.titleCardService {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
}

.searching  {
    margin: 1rem 1.5rem;
}

.searching h3 {
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--color-darkblue-line);
}


.clearSearch {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.btnClearSearch {
    background-color: var(--color-darkblue);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.15);
}