:root {
  --color-darkblue: #044362;
  --color-darkblue-line: #04436236;
  --color-blue: rgb(14, 58, 94);
  --color-blue-transparent: rgba(14, 58, 94, 0.322);
  --color-lightblue: #00b7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #f8feff;
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}